{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-6">
      <div class="card border-1 shadow p-4 rounded-3 bg-body-tertiary">
        <h1 class="mb-4">Login</h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}

          {{ form|crispy }}

          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="remember-me" name="remember_me">
            <label class="form-check-label" for="remember-me">Remember me</label>
          </div>

          <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>

          <hr class="my-4" />

          <p class="text-center">
            <a href="{% url 'account_reset_password' %}">Forgot password?</a>
          </p>

          <p class="text-center">
            Don't have an account? <a href="{% url 'account_signup' %}">Create a new account</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}