{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Set Password{% endblock title %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-6">
      <div class="card border-1 shadow p-4 rounded-3 bg-body-tertiary">
        <h1 class="mb-4">Set Password</h1>
        <form method="POST" action="" class="password_set">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="form-actions">
            <button class="btn btn-primary w-100" type="submit" name="action" value="Set Password">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}