{% extends '_base.html' %}

{% block content %}
<div class="container px-4 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-1 shadow p-4 rounded-3 bg-body-tertiary">

                <div class="row">
                    <div class="col-md-4 text-center">
                        {% if profile.user.profile_image %}
                        <img src="{{ profile.user.profile_image.url }}" class="img-fluid rounded" alt="Profile Image">
                        {% else %}
                        <p>No profile image.</p>
                        {% endif %}
                    </div>

                    <div class="col-md-8">
                        <h1>{{ profile.user.username }}</h1>
                        <p>{{ profile.bio }}</p>
                        <p><strong>Location:</strong> {{ profile.location }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}