{% extends '_base.html' %}

{% block title %}Forbidden (403) {% endblock title %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-6">
            <div class="card border-1 shadow p-4 rounded-3 bg-body-tertiary text-center">
                <h1 class="mb-4 display-5 text-danger">Forbidden (403)</h1>

                <p class="lead">CSRF verification failed. Request aborted.</p>

                <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Return to Home</a>
            </div>
        </div>
    </div>
    {% endblock content %}